.bg {
    background-image: url("../images/bg.jpeg");
    height: 100vh;
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.justify{
    text-align: justify;
    text-justify: inter-word;
}

.navPosition{
    background-color: #286BC0 !important;
    /* text-decoration: none; */
    /* height: ; */
}

.navSideBorder{
    border-left: 1px solid white !important;
}

.navTitle{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 2rem !important;
    color: #ffffff;
}

.navName{
    background-color: #286BC0 !important;
    color: white !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
}

.navName:hover{
    text-decoration: none;
    color: rgb(143, 0, 0) !important;
    background-color: #6da4f2 !important;
    transition: background-color 500ms linear;
    /* padding: 15px 25px 15px 25px; */
}

.navDisplay{
    text-decoration: none;
    visibility: hidden;
}

.homeImg{
    height: 70vh;
    width: 100%;
}

.proImgButton{
    /* position: relative; */
    height: 10vh;
    width: 100%;
    background-color: #286BC0 !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
    font-family: 'Lato', sans-serif !important;
}

.proImgButton:hover{
    background-color: #6da4f2 !important;
    color: rgb(143, 0, 0) !important;
    border: none !important;
    transition: background-color 500ms linear;
}

.homeDetails{
    margin-top: 10rem !important;
}

.homeSubTitle{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.7rem;
    font-weight: 300;
}

.homeTitle{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.aboutTitle{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.aboutParagraph{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.aboutDownload{
    text-decoration: none !important;
    font-size: 1.9rem;
    font-weight: 600;
    color: white !important;
    font-family: 'Ubuntu', sans-serif;
    background-color: #286BC0 !important;
    padding: .7rem 3.3rem .7rem 3.3rem;
}

.aboutDownload:hover{
    text-decoration: none !important;
    color: white !important;
    background-color: #6da4f2 !important;
    transition: background-color 400ms linear;
}

.aboutLink{
    margin-right: 1rem;
    text-decoration: none !important;
    font-size: 2rem;
    color: white;
    background-color: #37383a !important;
    height: 4rem !important;
    width: 4rem !important;
    border-radius: 50%;
    padding-top: .5rem;
    float: left;
}

.aboutLink:hover{
    text-decoration: none !important;
    color: #286BC0 !important;
}

.aboutCon{
    color: #286BC0 !important;
}

.serviceContainer{
    margin-top: 4rem !important;
}

.serviceCard{
    background-color: rgba(0, 0, 0, 0.0) !important;
    border: none !important;
}

.seviceIcon{
    font-size: 3rem;
    color: #286BC0;
}

.serviceheading{
    font-size: 2.3rem !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500 !important;
    color: #ffffff;
}

.serviceTitle{
    font-size: 3rem !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600 !important;
    color: #ffffff;
}

.serviceSubTitle{
    font-size: 1rem !important;
    font-family: 'Lato', sans-serif;
    font-weight: 500 !important;
    color: #ffffff !important;
}

.skillHeading{
    font-size: .8rem;
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
}

.alignRight{
    text-align: right;
}

.progressBar{
    height: 5px !important;
}

.skillIcon{
    color: #6da4f2;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skillNumber{
    font-size: 2.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.skillNumDes{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #cccccc;
}

.skillMarginLower{
    margin-top: 7.5rem !important;
}

.progressMargin{
    margin-top: 2rem !important;
}

.skillMargin{
    margin-top: 4rem;
}

.educationImg{
    height: 3.5rem;
    width: 3.5rem;
}

.eduYear{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #6da4f2;
}

.eduInstitute{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.edudepartment{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-top: -10px;
}

.edudescription{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #cccccc;
    margin-bottom: 1.8rem;
    margin-top: 15px;
}